*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  object-fit: cover;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #101828;
  font-family: 'Rubik';
  font-style: normal;
  text-align: center;
  letter-spacing: -0.02em;
}
h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
}

h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
}

h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
}
h4 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}
h5 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin: 0px;
}
.subtitle {
  font-weight: 400;
  width: 55%;
  margin: 0 auto;
}
h6 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
p {
  font-family: 'Rubik';
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #475467;
  text-align: left;
}
body {
  background-color: #fff;
  height: 100%;
  font-size: 16px;
  font-family: Rubik, Inter, sans-serif;
  text-align: center;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.siteContainer {
  max-width: 1250px;
  padding: 0px 25px;
  margin: 0 auto;
  box-sizing: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}
.burger {
  display: none;
}
.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  align-items: center;
  margin: 0px 10px 0px 0px;
}
.menu-list a {
  font-size: 18px;
  text-decoration: none;
  color: #101828;
  text-align: left;
}
.menu-list li {
  list-style: none;
  margin: 0 32px 0 0;
}
.menu-list {
  display: flex;
  justify-content: space-between;
}

.menu-link a {
  color: #101828;
}
.menu-link:hover {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}

.menu-list > li {
  position: relative;
}
.menu-list > li:hover .dropdoun-menu {
  display: block;
}
.menu-link:active {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}

.dropdoun-menu {
  display: none;
  position: absolute;
  left: 0px;
  top: 23px;
  padding: 15px 0px 0px 0px;
  min-width: 170px;
  /* background-color: aqua; */
}

.dropdown-item {
  padding-bottom: 10px;
}
.hederBtn {
  order: 3;
}
.btn {
  padding: 10px 16px;
  border-radius: 8px;
  background-color: #7f56d9;
  color: #fff;
  font-weight: 600;
  size: 18px;
  line-height: 28px;
  margin: 0 auto;
  text-align: center;
}
.btn:hover {
  background-color: transparent;
  border: solid 2px #101828;
  color: #101828;
}
.btn-login {
  border: solid 2px #101828;
  background-color: #fff;
  margin: 0px 16px 0px 90px;
  color: #101828;
}
.btn-login:hover {
  background-color: #7f56d9;
  color: #fff;
}

.arrow {
  width: 0;
  height: 0;
  border-top: 6px solid #101828;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  position: absolute;
  top: 15px;
  right: -17px;
}
.topPage {
  padding: 96px 0px 64px 0px;
}
.topPage_icon {
  margin: 0 auto;
}
.spacer32 {
  height: 32px;
}
.spacer64 {
  height: 64px;
}
.spacer50 {
  height: 50px;
}
.spacer100 {
  height: 100px;
}

.infoBlock {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btnCenter a {
  text-align: center;
}
.infoBlock__text {
  flex: 0 1 50%;
}
.blockwidth {
  min-width: 300px;
}
.text-part__title {
  text-align: start;
}
.infoBlock__box {
  flex: 0 1 50%;
}
.box-wrapper {
  border-radius: 12px;
  border: solid 2px #101828;
  max-width: 528px;
  max-height: 528px;
}
.box-shadow {
  box-shadow: 8px 8px 2px -4px rgba(16, 24, 40, 0.6);
  -webkit-box-shadow: 8px 8px 2px -4px rgba(16, 24, 40, 0.6);
  -moz-box-shadow: 8px 8px 2px -4px rgba(16, 24, 40, 0.6);
}
.infoBlock__box-top {
  display: flex;
  padding: 17px 25px;
}
.box-dot {
  padding-right: 10px;
}
.box-top-spacer {
  height: 10px;
  border-bottom: 2px solid #101828;
}
.infoBlock__box-content {
  height: 528px;
  width: 100%;
}
.navMenu {
  position: relative;
  order: 2;
}
.partner {
  background: #f9fafb;
  width: 90%;
  margin: 0 auto;
}
.textCenter {
  text-align: center;
}
.partner__container {
  background-color: #f9fafb;
}
.partner__wrp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.partner__item {
  border: solid 2px #101828;
  border-radius: 12px;
  padding: 24px;
  margin: 10px;
}
.trusted {
  margin: 80px auto 100px;
}
.trusted__block {
  display: flex;
  justify-content: space-between;
  overflow: auto;
  /* flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 50%; */
}
.trusted__img {
  border: solid 2px #101828;
  border-radius: 12px;
  /* min-width: 442px; */
  min-height: 400px;
  flex: 0 1 43%;
  /* width: 50%; */
}
.trusted__img-dot {
  display: flex;
  border-bottom: solid 2px #101828;
  padding: 17px 25px;
}
.dot {
  margin-right: 10px;
}
.trusted__content {
  padding: 0px 40px;
  flex: 0 1 50%;
}

.titleStart {
  text-align: start;
}
.trusted-list {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 16px;
}
.trusted-list img {
  display: inline-block;
  margin-right: 10px;
}
.trusted__block-right {
  display: flex;
  flex-direction: row-reverse;
}
.reviews {
  background-color: #f9fafb;
}
.reviews_block {
  text-align: center;
}
.reviews_block img {
  margin: 0 auto;
}
.text18 {
  text-align: center;
  font-size: 18px;
}
.pagination {
  justify-content: center;
}
.pagination img {
  margin: 0px 8px;
}
.solution img {
  margin: 0 auto;
  width: 100%;
}
.footer p {
  color: #667085;
}
.footer__top {
  display: flex;
  justify-content: space-between;
}
.footer__top-payCard {
  flex: 0 1 40%;
}
.footer__payCard {
  display: flex;
}
.footer__payCard img {
  margin-right: 20px;
}
.footer-text {
  width: 60%;
}
.footer__top-menu {
  display: flex;
  justify-content: space-around;
  flex: 0 1 60%;
  margin: 0px -8px;
}
.footer-menu {
  padding: 0px 8px;
  flex: 0 1 25%;
}
.footer-menu-title {
  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #101828;
  margin-bottom: 16px;
}
.footer-menu-list a {
  display: block;
  text-align: left;
  color: #475467;
  margin-bottom: 12px;
}
.footer-menu-list a:hover {
  transform: scale(1.05);
}
.footer__bottom {
  background-color: #f9fafb;
  padding: 48px 0px;
}
.footer__bottom-wrp {
  display: flex;
  justify-content: space-between;
}
.footer__bottom-item:nth-child(1) {
  flex: 0 1 30%;
  order: 1;
}
.footer__bottom-item:nth-child(2) {
  flex: 0 1 60%;
  text-align: center;
  order: 2;
}
.footer__bottom-item:nth-child(3) {
  flex: 0 1 10%;
  display: flex;
  order: 3;
}
.footer__bottom-item:nth-child(2) a {
  margin-right: 16px;
  color: #667085;
}
.footer__bottom-item:nth-child(3) a {
  margin-right: 16px;
}
.footer__bottom-item:nth-child(2) a:hover {
  transform: scale(1.3);
  color: #000;
}
.footer__bottom-item:nth-child(3) a:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: calc(36px + 36 * ((100vw - 320px) / (1290 - 320))) !important;
  }
  h1 {
    line-height: calc(44px + 28 * ((100vw - 320px) / (1290 - 320))) !important;
  }
  h2 {
    font-size: calc(30px + 18 * ((100vw - 320px) / (1290 - 320))) !important;
  }
  h2 {
    line-height: calc(38px + 22 * ((100vw - 320px) / (1290 - 320))) !important;
  }
  h3 {
    font-size: calc(24px + 6 * ((100vw - 320px) / (1290 - 320))) !important;
  }
  h3 {
    line-height: calc(32px + 16 * ((100vw - 320px) / (1290 - 320))) !important;
  }
  .spacer100 {
    height: 40px;
  }
  .subtitle {
    width: 100%;
  }
  .infoBlock {
    justify-content: center;
  }
  /* .header {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  } */
  /* .logo {
    order: 1;
  }
  
  .hederBtn {
    display: none;
  } */
  .burger {
    display: block;
  }
  .menu-container {
    display: none;
  }
  .infoBlock__box {
    flex: 0 1 100%;
  }
  .infoBlock__box {
    flex-basis: 100%;
  }
  .partner__wrp {
    justify-content: space-around;
  }
  .trusted__block {
    flex-wrap: wrap;
  }
  .trusted__img {
    flex-basis: 100%;
  }
  .trusted__content {
    flex-basis: 100%;
  }
  .titleStart {
    text-align: center;
    padding-top: 32px;
  }
  .footer__top {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__payCard {
    padding-bottom: 50px;
  }
  .footer__top-menu {
    flex: 0 1 100%;
    flex-wrap: wrap;
    align-items: start;
  }
  .footer-menu {
    padding: 0px 8px;
    flex: 0 1 50%;
    text-align: center;
  }
  .footer__bottom-wrp {
    flex-wrap: wrap;
    justify-content: start;
    flex-direction: column;
  }
  .footer__bottom-item:nth-child(1),
  .footer__bottom-item:nth-child(2),
  .footer__bottom-item:nth-child(3) {
    flex: 0 1 100%;
  }
  .footer__bottom-item:nth-child(1) {
    order: 3;
  }
  .footer__bottom-item:nth-child(2) {
    display: flex;
    order: 2;
    margin-bottom: 19px;
  }
  .footer__bottom-item:nth-child(3) {
    order: 1;
    margin-bottom: 35px;
  }
  .bottom-item__el {
    display: block;
    width: 140px;
    padding: 0px;
    margin: 0px 16px 16px 0px;
    text-align: left;
  }
  .footer__bottom-item {
    flex-wrap: wrap;
    text-align: left;
  }
}

@media screen and (max-width: 350px) {
}
